{% extends 'base.html' %}

{% block content %}

<div class="comment">

{% for  description in comment %}
<div class="container-fluid">
<div class="card-deck">
  <div style="text-align:center;">
  <div class="card-title">
    <h5><b>Author:</b> {{description.user_id}}</h5>
  </div>
  <!-- <div class="card-body"> -->
    <p><b>Comment: </b>{{description.comment_name}}</p>
  </div>
  
  <a href="/delete_comment/{{description.id}}" class="btn btn-primary a-btn-slide-text">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     <span><strong>Delete a Comment</strong></span>            
 </a>

</div>
</div>
</div>


{% endfor %}

{% endblock %}